.encabezado {
    background-color: #06283d;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.navegacion {
    background-color: #256d85;
    padding: 20px;
    color: aliceblue;
}
.seccion {
    background-color: #47b5ff;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.articulo {
    background-color: #80ccfe;
    padding: 10px;
    grid-column: 1/3;
}
.lateral {
    background-color: #dff6ff;
    grid-column: 4/5;
    
}
.pie {
    background-color: #dff6ff;
    padding: 10px;
}
